
@{
    ViewBag.Title = "Refacturacion";
}

<div class="card border-0 ml-4 mt-4 margin-1 mb-3">
    <div class="card-body fuente">
        <div class="card-header bg-dark text-white">
            <h5><i class="fas fa-table"> Refacturacion</i> </h5>
        </div>
        <hr style="border-style: dashed" />
        @*<div class="row">
            <div class="col-12">
                <div class="col-sm-6 mb-3">
                    <label>Codigo Cliente</label>
                    <input type="text" name="name" value="" placeholder="Introducir codigo" />

                </div>
                <div class="col-12">
                    <div class="col-sm-3 mb-3">
                        <label>Codigo Cliente</label>
                        <input type="text" name="name" value="" placeholder="Introducir codigo" />

                    </div>
                    <div class="d-flex justify-content-start mb-2">
                        <button id="openModal" type="button" data-toggle="modal" data-target="#modal_aside_right" class="btn btn-info btn-sm" onclick="Edit(0)"><i class="fas fa-plus"></i> Registrar</button>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Numero factura</label>
                    <input type="text" name="name" value="" placeholder="Introducir codigo" />

                </div>


            </div>

        </div>*@
        <div class="row">
            <div class="row  col-6">
                <div class="col-sm-5 mb-3">
                    <label>Codigo cliente</label>
                    <input type="text" name="name"class="form-control" value="" />
                </div>
                <div class="col-sm-5 mb-3 ">
                    <label>Numero Medidor</label>
                    <input type="text" name="name" class="form-control" value="" />
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end mt-2">

                    <button type="button"  class="btn btn-info btn-sm mt-2"><i class="fas fa-search"></i> BUSCAR</button>

                </div>
            </div>
        </div>
        <div class="table-responsive-lg">
            <table class="table table-sm table-striped" id="allGrilla">
                <thead>
                    <tr class="bg-info text-light">
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Lectura Antigua</th>
                        <th scope="col">Lectura Actual</th>
                        <th scope="col">Consumo</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Opcion</th>

                    </tr>
                </thead>

            </table>

        </div>
    </div>

</div>


