
@{
    ViewBag.Title = "Reportes";
}


<div class="card border-0 ml-4 mt-4 margin-l mb-3 ">
    <div class="card-body fuente">
        <div class=" card-header bg-dark text-white">
            <h5><i class="fas fa-table"> Deudas pendientes por ruta</i></h5>
        </div>
        <hr style="border-style: dashed;" />
        <div class="row">
            <div class="row  col-6">

                <div class="col-sm-4 mb-3 ">
                    <label>Ruta</label>
                    <select id="ddUrbanizacion2" class="form-control form-control-sm ">
                    </select>
                </div>


            </div>

            <div class="col-6">
                <div class="d-flex justify-content-end mt-2">
                    <div class="searchbar mr-4 mt-2">
                        <input class="search_input" type="text" id="txtFilter2" name="" placeholder="Buscar...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>

                </div>
            </div>


        </div>

        <table class="table table-sm table-striped table-responsive-sm">
            <thead>
                <tr class="bg-info text-light ">
                    <th scope="col">#</th>
                    <th scope="col">Codigo </th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Medidor</th>
                    <th scope="col">Meses Pendientes</th>
                    <th scope="col">Deuda</th>

                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <th scope="row">1</th>
                    <td>0063822</td>
                    <td>MAMANI NANDO</td>
                    <td>URB. MIRAFLORES MZ. B2 LT. 3B</td>
                    <td>AE7898-565</td>
                    <td>3</td>
                    <td>80.5</td>


            </tbody>
        </table>
    </div>
</div>


